.portfolioArea{
    display: flex;
    margin: 0px 65px;
}
.projectDescription{
    display: flex;
    justify-content: center;
    font-size: 25px;
}
.portfolioArea section{
    background-color: rgba(38, 38, 38, 0.771);
    margin: 15px auto;
    width: 380px;
    height: 320px;
    border-radius: 10%;
}
.portfolioArea section:hover{
    background-color: rgba(68, 68, 68, 0.771);
    
}
.portfolioArea img{
    margin-top: 25px;
    margin-bottom: 45px;
    margin-left: 0px;
    object-fit: cover;
    
}
.title{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
@media(max-width: 900px){
    .portfolioArea{
        margin: auto;
        flex-direction: column;
    }
    .portfolioArea section{
        
        margin-top: 95px;
    }
    .ecommercePic{
        width: 380px;
        height: 250px;
        padding-left: 45px;
    }
    .arqPic{
        width: 380px;
        height: 250px;
        padding-left: 45px;
    }
  }

  @media(max-width: 390px){
    .portfolioArea section{
        width: 360px !important;
        
        
    }
    .cadastroPic{
        width: 340px;
        height: 245px;
        padding-left: 35px;
        padding-top: 35px;
        margin-bottom: 12px;
    }
    .ecommercePic{
        width: 350px;
        height: 220px;
        padding-left: 35px;
        padding-top: 35px;
        margin-bottom: 12px;
    }
    .arqPic{
        width: 365px;
        height: 230px;
        padding-left: 35px;
        padding-top: 35px;
        margin-bottom: 12px;
    }
  }